<ion-tabs class="md">

  <ion-tab-bar slot="bottom">
    <ion-tab-button layout="label-hide" tab="discover">
      <ion-icon src="/assets/fonts/icons/home.svg"></ion-icon>
      <div class="arion-tab-sel"></div>
    </ion-tab-button>

    <ion-tab-button layout="label-hide" tab="search">
      <ion-icon src="/assets/fonts/icons/search.svg"></ion-icon>
      <div class="arion-tab-sel"></div>
    </ion-tab-button>

    <ion-tab-button layout="label-hide" tab="library">
      <ion-icon src="/assets/fonts/icons/book.svg"></ion-icon>
      <div class="arion-tab-sel"></div>
    </ion-tab-button>

    <ion-tab-button layout="label-hide" tab="account">
      <ion-icon src="/assets/fonts/icons/user.svg"></ion-icon>
      <div class="arion-tab-sel"></div>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
