
<ion-header class="show-background" [class.hide-background-header]="hideToolbar">
  <ion-toolbar [class.hide-background]="hideToolbar">
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding" [scrollEvents]="true" (ionScroll)="onScroll($event)">
<ion-list>
  <ion-item>
    <ion-label>Dark Mode</ion-label>
     <theme-switch-toggle [themes]="themes"></theme-switch-toggle>
  </ion-item>
</ion-list>
</ion-content>
