<div class="ar-card-slider">
    <ion-text>
    <h4 class="manrope-header ar-card-header-text">{{ name }}</h4>
    </ion-text>
    <ion-slides [options]="SliderOptions">
      <ion-slide>
        <ion-card>
          <img src="https://github.com/ionic-team/ionic-docs/raw/master/src/demos/api/card/madison.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="https://github.com/ionic-team/ionic-docs/raw/master/src/demos/api/card/madison.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="https://github.com/ionic-team/ionic-docs/raw/master/src/demos/api/card/madison.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide class="ar-home-slide-end">
        <ion-fab-button class="ar-home-slide-end-button" color="light">
          <ion-icon color="primary" name="arrow-forward"></ion-icon>
        </ion-fab-button>
        <ion-text class="ar-home-slide-end-text" color="dark">See all</ion-text>
      </ion-slide>
    </ion-slides>
</div>