<ion-header class="show-background" [class.hide-background-header]="hideToolbar">
  <ion-toolbar [class.hide-background]="hideToolbar">
    <ion-buttons slot="start">
      <ion-back-button class="red-icon" [class.white-icon]="hideToolbar"></ion-back-button>
    </ion-buttons>
    <ion-title [class.hide-title]="hideToolbar">Story Title</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="arion-story-preview-content" [scrollEvents]="true" (ionScroll)="onScroll($event)" fullscreen>
	<img class="arion-story-preview-cover" src="/assets/app-icon.png" />

	<ion-grid class="arion-story-preview-title-contatiner ion-padding">
		<ion-row>
			<ion-col class="arion-story-preview-col-contatiner" size="8.5">
				<ion-card-title class="product-sans-header arion-story-preview-title">Story Title</ion-card-title>
			</ion-col>
			<ion-col class="arion-story-preview-col-contatiner">
	             <ion-button fill="clear" shape="round" size="small" color="primary" class="arion-story-preview-right-button" float-end>
	               <ion-icon color="primary" slot="icon-only" src="/assets/fonts/icons/plus.svg"></ion-icon>
	             </ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid class="arion-story-preview-desc-contatiner ion-padding">
		<ion-row>
			<ion-col class="arion-story-preview-col-contatiner">
				<ion-card-subtitle color="primary" class="arion-story-preview-subtitle">Fandom</ion-card-subtitle>
			</ion-col>
			<ion-col class="arion-story-preview-col-contatiner">
				<ion-card-subtitle color="medium" class="arion-story-preview-right-text">10 Oct 2019</ion-card-subtitle>
			</ion-col>
		</ion-row>
	</ion-grid>
 
	<ion-item lines="none" class="arion-story-preview-author-contatiner ion-padding">
	  <ion-avatar slot="start" class="arion-story-preview-author-img">
	    <img src="/assets/images/avatar_default.png">
	  </ion-avatar>
	  <ion-label class="arion-story-preview-author-name">TenSeventy7</ion-label>
	</ion-item>

	<ion-grid class="arion-story-preview-button-contatiner ion-justify-content-center">
		<ion-row class="arion-story-preview-button-row-contatiner ion-justify-content-center">
			<ion-col class="arion-story-preview-button">
			    <ion-tab-button tab="about">
			      <div class="arion-sep-5"></div>
			      <div class="arion-sep-5"></div>
			      <ion-icon color="primary" class="arion-story-preview-icon" src="/assets/fonts/icons/heart.svg"></ion-icon>
			      <div class="arion-sep-2p5"></div>
			      <ion-label class="arion-story-preview-icon-text" color="medium">Kudos</ion-label>
			      <div class="arion-sep-2p5"></div>
			      <div class="arion-sep-5"></div>
			    </ion-tab-button>
			</ion-col>
			
			<ion-col class="arion-story-preview-button">
			    <ion-tab-button tab="about">
			      <div class="arion-sep-5"></div>
			      <div class="arion-sep-5"></div>
			      <ion-icon color="primary" class="arion-story-preview-icon" src="/assets/fonts/icons/comment.svg"></ion-icon>
			      <div class="arion-sep-2p5"></div>
			      <ion-label class="arion-story-preview-icon-text" color="medium">Talk</ion-label>
			      <div class="arion-sep-2p5"></div>
			      <div class="arion-sep-5"></div>
			    </ion-tab-button>
			</ion-col>
			
			<ion-col class="arion-story-preview-button">
			    <ion-tab-button tab="about">
			      <div class="arion-sep-5"></div>
			      <div class="arion-sep-5"></div>
			      <ion-icon color="primary" class="arion-story-preview-icon" src="/assets/fonts/icons/share.svg"></ion-icon>
			      <div class="arion-sep-2p5"></div>
			      <ion-label class="arion-story-preview-icon-text" color="medium">Share</ion-label>
			      <div class="arion-sep-2p5"></div>
			      <div class="arion-sep-5"></div>
			    </ion-tab-button>
			</ion-col>
			
			<ion-col class="arion-story-preview-button">
			    <ion-tab-button tab="about">
			      <div class="arion-sep-5"></div>
			      <div class="arion-sep-5"></div>
			      <ion-icon color="primary" class="arion-story-preview-icon" src="/assets/fonts/icons/star.svg"></ion-icon>
			      <div class="arion-sep-2p5"></div>
			      <ion-label class="arion-story-preview-icon-text" color="medium">Subscribe</ion-label>
			      <div class="arion-sep-2p5"></div>
			      <div class="arion-sep-5"></div>
			    </ion-tab-button>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-text class="arion-story-preview-description-contatiner">
		<p class="arion-story-preview-description-contatiner arion-story-preview-description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed nulla volutpat, rhoncus est ut, vestibulum sem. Vivamus faucibus cursus hendrerit.<br><br>

		Quisque in mi vel arcu porttitor vulputate id et felis. Phasellus placerat congue lacus, non ornare quam condimentum ut. Duis luctus cursus neque, a tempor risus auctor mattis. Pellentesque at dignissim tortor. Pellentesque sodales mauris vel sagittis aliquet. Sed egestas, nunc fermentum ullamcorper semper, nulla nisl ultrices ipsum, vel pellentesque ipsum neque in dolor. Sed eu elit tincidunt, vestibulum sem eget, fringilla eros.<br><br>

		In vitae libero non nisi dictum venenatis eu a sapien. Curabitur eu est id lorem condimentum euismod nec a turpis.<br><br></p>
	</ion-text>

	<ion-grid class="arion-preview-header ion-padding">
		<ion-row><ion-col><h3 class="product-sans-header arion-story-preview-header-text">About this work</h3></ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
