
<ion-header class="lf-header-primary" no-border>
	<ion-toolbar color="primary">
	  <ion-title class="lf-header-title">Discover</ion-title>               
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-header collapse="condense">
		<ion-toolbar color="primary" class="lf-header-toolbar">
		  <ion-title size="large">Discover</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-grid class="arion-discover-header ion-padding">
	  <ion-row class="ion-justify-content-center">
		  <ion-col size="6">
			  <h4 class="product-sans-header arion-discover-header-text">Recently Read</h4>
		  </ion-col>
	    <ion-col>
			<ion-button class="product-sans arion-discover-header-button ion-float-right" shape="round" fill="clear" color="primary">More</ion-button>
		</ion-col>
	  </ion-row>
    </ion-grid>

	<div class="arion-discover-cards">
	  <div class="arion-discover-card-list">
		<ion-card class="arion-discover-card">
	      <img class="arion-discover-cover" src="/assets/app-icon.png" />
		  <ion-card-header>
		    <ion-card-subtitle color="primary">Author</ion-card-subtitle>
		    <ion-card-title>Card Title</ion-card-title>
		    <ion-card-subtitle color="medium">Fandom</ion-card-subtitle>
		  </ion-card-header>

		  <ion-card-content class="arion-discover-card-content">
		   <span>Keep close to Nature's heart... and break clear away, once in awhile,
		    and climb a mountain or spend a week in the woods. Wash your spirit clean.</span>
		  </ion-card-content>
		  <br>
		</ion-card>

	    <div class="arion-discover-whitespace"></div>
	  </div>


</div>
</ion-content>
