<ion-header [translucent]="true">
  <ion-toolbar class="ar-ios">
    <ion-title>
      Discover
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ar-header-title" size="large">Discover</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar mode="ios" class="ar-droid ar-header-droid">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon color="medium" slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
      
    <ion-title color="primary">Discover</ion-title>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon color="medium" slot="icon-only" name="search"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>

  <ar-card-slider name="Latest Works"></ar-card-slider>
  <ar-card-slider name="Recently Read"></ar-card-slider>
  <ar-card-slider name="For You"></ar-card-slider>
</ion-content>
