
.login-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 124px;
  width: auto;
  margin: auto;
}

ion-item {
  padding-right: 24px !important;
}
ion-content {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

ion-button {
  padding: 0 18px !important;
}
