
<ion-content class="ion-justify-content-center">
    <div class="ar-spacer-7"></div>
	  <img class="login-logo vertical-align-content" src="/assets/images/ao3_logo.png">
    <div class="ar-spacer-5"></div>
    <ion-item>
  		<ion-label position="floating">{{ 'ar-ao3-login.username' | translate }}</ion-label>
  		<ion-input mode="md" autofocus="true"></ion-input>
	  </ion-item>
    <div class="ar-spacer-1"></div>
    <ion-item>
  		<ion-label position="floating">{{ 'ar-ao3-login.password' | translate }}</ion-label>
  		<ion-input mode="md" clearInput type="password"></ion-input>
	  </ion-item>
    <div class="ar-spacer-1"></div>
    <ion-button mode="ios" expand="block" class="ion-margin-vertical">{{ 'ar-ao3-login.sign-in' | translate }}</ion-button>
    <ion-button expand="block" class="ion-text-center" color="medium" shape="round" fill="clear">{{ 'ar-ao3-login.recovery' | translate }}</ion-button>
    <div class="ar-spacer-2"></div>
    <ion-button expand="block" class="ion-text-center" color="primary" shape="round" fill="clear">{{ 'ar-ao3-login.sign-up' | translate }}</ion-button>
</ion-content>
