
<ion-header class="show-background" [class.hide-background-header]="hideToolbar">
  <ion-toolbar [class.hide-background]="hideToolbar">
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding" [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <div class="ion-justify-content-center">
      <ion-avatar slot="center" class="ion-margin-vertical center-align-content app-icon user-gravatar">
        <img src="/assets/app-icon.png">
      </ion-avatar>
    <div class="arion-sep-2p5"></div>
    <div class="ion-margin-vertical"></div>
      <h2 class="ion-text-center">Arion</h2>
      <ion-card-subtitle class="ion-text-center">0.0.1 alpha</ion-card-subtitle>
    </div>
    <div class="arion-sep-2p5"></div>
    <ion-card-subtitle class="ion-text-center">by TenSeventy7</ion-card-subtitle>
    <ion-button expand="block" class="ion-text-center" color="primary" shape="round" fill="clear">tenseventy7.bitbucket.io</ion-button>
    <div class="ion-margin-vertical"></div>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label color="medium" class="allcaps product-sans">Development</ion-label>
      </ion-list-header>
        <ion-item href="www">
          <ion-avatar slot="start">
            <img src="/assets/images/about/tenseventyseven.jpg">
          </ion-avatar>
          <ion-label>
            <h3>John Vincent</h3>
            <p>Main developer</p>
          </ion-label>
        </ion-item>

        <ion-item href="https://danielsu.website/archive-of-our-own">
          <ion-avatar slot="start">
            <img src="/assets/images/about/daniel_su.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Daniel Su</h3>
            <p>Primary design concept</p>
          </ion-label>
        </ion-item>
    </ion-list>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label color="medium" class="allcaps product-sans">Open-source Components</ion-label>
      </ion-list-header>
        <ion-item href="https://angular.io/license">
          <ion-avatar slot="start">
            <img src="/assets/images/about/logo-angular.png">
          </ion-avatar>
          <ion-label>
            <h3>Angular</h3>
            <p>MIT License</p>
          </ion-label>
        </ion-item>
        
        <ion-item href="https://ionicframework.com/docs/intro">
          <ion-avatar slot="start">
            <img src="/assets/images/about/logo-ionic.png">
          </ion-avatar>
          <ion-label>
            <h3>Ionic Framework</h3>
            <p>MIT License</p>
          </ion-label>
        </ion-item>
        
        <ion-item href="https://cordova.apache.org">
          <ion-avatar slot="start">
            <img src="/assets/images/about/logo-cordova.png">
          </ion-avatar>
          <ion-label>
            <h3>Apache Cordova</h3>
            <p>Apache License 2.0</p>
          </ion-label>
        </ion-item>
        
        <ion-item href="https://archiveofourown.org/">
          <ion-avatar slot="start">
            <img src="/assets/images/about/logo-ao3.png">
          </ion-avatar>
          <ion-label>
            <h3>Archive of Our Own</h3>
            <p>GNU General Public License, version 2</p>
          </ion-label>
        </ion-item>

    </ion-list>
    <div class="arion-sep-5"></div>
    <ion-button href="https://www.gnu.org/licenses/gpl-3.0.en.html" expand="block" class="ion-text-center" color="primary" shape="round" fill="clear">Arion is licensed under GPLv3</ion-button>
</ion-content>
