// Home screen variables

.ar-home-slide-end {
  display: grid;
  height: 100%;
  margin: auto;
}

.ar-home-slide-end-button {
  grid-column: 1;
  grid-row: 1;

  height: 72px;
  width: 72px;
}
.ar-home-slide-end-button ion-icon {
  height: 36px;
  width: 36px;
}
.ar-home-slide-end-text {
  grid-column: 1;
  grid-row: 2;

  padding-top: 16px;
  margin-right: 16px;
  font-weight: 700;
  font-size: 16pt;
}

.user-info-icon {
  height: 76px;
  width: 76px;
}

.ar-ios-account-info {
  height: 84px;
}
.ar-ios-account-name {
  font-size: 1.3em;
  margin-bottom: 4px;
}
