// Platform-specific component settings

.ios .ar-droid {
  display: none;
}
.md .ar-droid {
  display: unset !important;
}

.ios .ar-ios {
  display: unset;
}
.md .ar-ios {
  display: none;
}

.ar-header-droid {
  --min-height: 64px;
  padding-left: 24px;
  padding-right: 24px;
}

.ar-header-droid-icon {
  height: 24px;
  width: 24px;
}
.ar-header-ios-icon {
  height: 32px;
  width: 32px;
}
.ar-header-ios-icon-container {
  margin-bottom: 48px;
  margin-left: 4px;
}
.ar-header-ios-container {
  padding-top: 0px;
  margin-top: -12px;
}

.md ion-slides {
  --padding-start: 0px;
  --padding-end: 0px;
}
