<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover">
      <ion-icon name="home"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="browse">
      <ion-icon name="search"></ion-icon>
      <ion-label>Browse</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      <ion-label>Library</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
