<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover">
      <ion-icon src="/assets/fonts/icofonts/home.svg"></ion-icon>
      <ion-label>{{ 'ar-home-discover.header-title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="browse">
      <ion-icon src="/assets/fonts/icofonts/search.svg"></ion-icon>
      <ion-label>{{ 'ar-home-browse.header-title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon src="/assets/fonts/icofonts/book.svg"></ion-icon>
      <ion-label>{{ 'ar-home-library.header-title' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon src="/assets/fonts/icofonts/user.svg"></ion-icon>
      <ion-label>{{ 'ar-home-account.header-title' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
